#/kubernetes/overlays/dev/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: data-platform-dev

namePrefix: dev-

resources:
- namespace.yaml
- storage.yaml
- ../../base/postgres
- ../../base/pgadmin
- ../../base/airbyte

patches:
- path: postgres-patch.yaml
- path: pgadmin-patch.yaml
- path: pvc-reference-patch.yaml
- path: storage-patch.yaml

secretGenerator:
- literals:
  - password=dev_password_123
  name: postgres-secret
  options:
    disableNameSuffixHash: true
- literals:
  - email=dev@example.com
  - password=dev_pgadmin_pass
  name: pgadmin-secret
  options:
    disableNameSuffixHash: true

images:
- name: postgres
  newTag: latest

labels:
- includeSelectors: true
  pairs:
    environment: dev
    tier: platform
