apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: data-platform-dev

namePrefix: dev-
commonLabels:
  environment: dev
  tier: platform

resources:
  - namespace.yaml
  - ../../base/postgres
  - ../../base/pgadmin


patchesStrategicMerge:
  - postgres-patch.yaml
  - pgadmin-patch.yaml

secretGenerator:
  - name: postgres-secret
    literals:
      - password=dev_password_123
    options:
      disableNameSuffixHash: true
  - name: pgadmin-secret
    literals:
      - email=dev@example.com
      - password=dev_pgadmin_pass
    options:
      disableNameSuffixHash: true

# Optional: Image tag overrides
images:
  - name: postgres
    newTag: latest

