apiVersion: v1
kind: Service
metadata:
  name: portainer
spec:
  type: NodePort
  ports:
  - port: 9000
    nodePort: 30777
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: portainer
spec:
  template:
    spec:
      containers:
      - name: portainer
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"