apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - secret.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml

secretGenerator:
  - name: pgadmin-secret
    literals:
      - email=admin@example.com
      - password=CHANGE_ME
    options:
      disableNameSuffixHash: true